.container {
  padding: 1rem 1.2rem;
  background: rgba(var(--card-rgb), 0.1);
  transition: background 200ms, border 200ms;
  margin-top: 1rem;
  font-family: var(--font-mono);
  font-size: 16px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  justify-items: center;
  margin: 0px;
  overflow-x: scroll;
  font-family: var(--font-mono);
  font-size: 16px;
}

.auditmain {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 6rem;
  justify-items: center;
  margin: 0px;
  overflow-x: scroll;
  font-family: var(--font-mono);
  font-size: 16px;
}

.auditmain h1 {
  text-decoration: dashed;
  font-weight: 700;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3rem;
}


.main h1 {
  text-decoration: dashed;
  font-weight: 700;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 3rem;
}

.table {
  border-collapse: collapse;
  border: 1px solid;
  width: 100%;
  table-layout: fixed;
  margin-top: 3rem;
  word-wrap:break-word;
}

.table thead {
  border: 1px solid;
  word-wrap:break-word;
}

.table tbody tr td {
  padding: 5px;
  text-align: center;
  border: 1px solid;
  word-wrap:break-word;
}

.description {
  display:inline-flex;
  align-items: inherit;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  margin-top: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.5);
  transition: background 200ms, border 200ms;
  margin-top: 3rem;
  font-family: var(--font-mono);
  font-size: 16px;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h3 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  text-decoration: underline;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.images {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 2em;
  }
  .content {
    padding: 4rem;
  }

  .card {
    width: 100%;
    table-layout: fixed;
  }
  
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {

  .card:hover span {
    transform: none;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: auto;
  background-color: #d1a53e;
  font-size: 20px;
  border-radius: 4px;
  font-weight: bold;
  border: 1px;
  min-width: 100px;
  min-height: 75px;
  padding: 10px;
}

.button:hover {
  background-color: rgba(103, 101, 101, 0.369);
}

.invisibleButton {
  background-color: transparent;
  border: none;
  font-size: 18px; 
  position: relative;
  transition: all 0.2s;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.invisibleButton:hover {
  font-weight: bold;
  text-decoration: underline;
}
.invisibleButton:hover:before{
  width: 100%;
}

.required label {
  font-weight: bold;
}
.required label:after {
  color: #e32;
  content: ' *';
  display:inline;
}